@import '../../styles/colors.scss';

.container {
}

.title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5rem;
}

.timeSpan {
  font-size: 0.875rem;
  color: $onBackgroundColorDimmed;
}

.content {
  margin-top: 0.5rem;
}
