@import '../../styles/colors.scss';

.container {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  padding: 2em;
  background-color: $surface;
  max-width: 405px;

  & h3 {
    margin-bottom: 0.5rem;
  }

  & p {
    margin: 0.5rem 0;
  }

  & a {
    text-decoration: none;
    color: $primaryColor;
  }
}
