@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.container {
    height: 100vh;
    @include flexCenteredColumn;
}

.imageContainer {
    width: 480px;
    height: 480px;
    overflow: hidden;
    position: relative;
}

.contentBlock {
    @include flexCenteredColumn;
    column-gap: 2rem;
}

.title {
    font-size: 1.5rem;

    &:after {
        content: "_";
        color: $primaryColor;
        animation: blink 1s infinite;
        margin-left: 0.25rem;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 768px){
    .imageContainer {
        width: 320px;
        height: 320px;
    }
}
