@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.container {
    @include flexCenteredColumn;
    min-height: 100vh;
    width: 100%;
    max-width: $sectionMaxWidth;
    padding: 2rem 1rem;
}

.imageContainer {
    width: 480px;
    height: 480px;
    overflow: hidden;
    position: relative;
}

.contentBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & > div {
        flex: 1;
        @include flexCenteredColumn;
    }
}

.title {
    font-size: 1.5rem;

    &:after {
        content: "|";
        color: $primaryColor;
        animation: blink 350ms alternate-reverse infinite;
    }
}

.textContent {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    p {
        max-width: 70ch;
    }

    a {
        color: inherit;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .contentBlock {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .imageContainer {
        width: 320px;
        height: 320px;
    }
}
