.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 1280px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 835px) {
  .content {
    grid-template-columns: 1fr;
  }
}
